@import url(styles.css);


img {
    height: 100px;
    width: 100px;
}

header {
    z-index: 10;
}

.contenedor {
    justify-content: center;
    width: 100%;
}
.cards {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    
}
.card__top {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px 16px 0 0;
    height: 193px;
    position: relative;
    width: 300px;
}

.bg-batman {
    background-image: url(../img/bg-batman.jpg); 
}

.bg-harleyQuinn {
    background-image: url(../img/bg_harley_quinn_page.png);  
}

.bg-superMan {
    background-image: url(../img/bg-superman.jpg);
}

.card__top img {
    position: absolute;
}

.card__top img:first-child {
    width: 30px;
    height: 26.5px;
    position: absolute;
    top: 16px;
    left: 21px;
}

.card__top img:last-child {
    border-radius: 100%;
    bottom: -25%;
    box-shadow: 0 1px 5px;
    left: calc(260px - 50%);
}

.card__bottom {
    background-color: #F3F3F3;
    height: 336px;
    width: 300px;
    box-shadow: 0 3px 9px -5px;     
}

.card__bottom h2 {
    font-family: "Roboto",sans-serif;
    font-size: 26px;
    font-weight: 400;
    padding-top: 75px;
    text-transform: uppercase;
}

.card__bottom p {
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 20px;
    text-align: left;
}

.card__bottom a{
    background-color: var(--colorPrimario);
    display: block;
    margin: 15px auto;
    padding: 15px 40px;
    text-align: center;
    transition: all .3s;
    width: 150px;
}

.card__bottom a:hover {
    background-color: #001D2D;
}

.fixed {
    bottom: calc(50% - 60px);
    font-size: 60px;
    position: fixed;
    right: 20px;
    transition: all .3s;
    color: var(--colorPrimario);
}    

.fixed:hover {
    color: #001D2D;  
}


@media screen AND (max-width: 768px) {
    .contenedor {
        flex-direction: column;
        gap: 30px;
        height: min-content;
        padding: 40px 0;
    }
    header nav ul {
        justify-content: space-evenly;
    }

}

@media screen AND (max-width: 480px) {
    

    .fixed {
        font-size: 36px;
        right: 10px;
    }
}